packages:
  yum:
    gcc-c++: []
    git: []
    make: []
    openssl-devel: []
    mysql: []
    mysql-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    freetype-devel: []

container_commands:
  01_pip_update:
    command: "pip install --upgrade pip & pip install -r requirements.txt"
  02_db_update:
    command: "python manage.py upgrade"
    leader_only: true